BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Regroup
SpacesInParentheses: false
SpaceAfterCStyleCast: true