name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build build-essential
      - name: Configure & build
        run: |
          make first-build
          make build
      - name: Run binary
        run: |
          ./build/app

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Configure & build
        run: |
          make first-build
          make build
      - name: Run binary
        run: |
          ./build/app
